body {
    background-color: slategrey;
    font-family: sans-serif;
}

.cont {
    margin-top: 5%
}

#container {
    width: 259px;
    background-color: rgb(136, 190, 212);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 3px solid rgb(67, 95, 106);
    box-shadow: 1px 2px 5px 2px black;
}

#display {
    height: 50px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: right;
    color: white;
    background-color: rgb(136, 190, 212);
    border: none;
}

#display::placeholder {
    float: right;
    color: white;
}

#buttons {
    background-color: #323334;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 5px;
    border-radius: 1px;


}

button {
    width: 59px;
    height: 45px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: rgb(192, 224, 236);
    margin-bottom: 3px;
}

button:hover {
    background-color: rgb(19, 194, 194);
    transition: 1s;
}


.button-orange {
    background-color: #57baa7;
}

.grey-button {
    background-color: #708192;
}

.zerobutton {
    width: 186px;
    background-color: #323334;
}

.font-black-button {
    color: black;
}

p {
    color: white;
    float: right;
    font-size: 10px;
}