body {
    background: rgb(112, 128, 144);
    background: linear-gradient(rgba(112, 128, 144, 1), rgba(255, 255, 255, 1));
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.cont {
    margin-top: 5%
}

#container {
    width: 259px;
    /* background-color: rgb(100, 139, 155); */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 3px solid rgb(67, 95, 106);
    /* box-shadow: 1px 2px 5px 2px black; */
    border-radius: 5px;
    background: linear-gradient(145deg, #ffffff, #fbfbfb);
}

#display {
    height: 50px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: right;
    color: #323334;
    background: linear-gradient(145deg, #ffffff00, #ffffff);
    box-shadow: 20px 20px 60px #ffffff00,
        -20px -20px 60px #ffffff;
    /* background-color: rgb(100, 139, 155); */
    border: none;
}

#display::placeholder {
    float: right;
    color: #323334;
}


/* BUTTONS */

#buttons {
    background-color: #323334;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 5px;
    border-radius: 1px;
}

button {
    width: 59px;
    height: 45px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: rgb(192, 224, 236);
    margin-bottom: 3px;
    cursor: pointer;

}

button:hover {
    background-color: rgb(19, 194, 194);
    transition: 1s;
}

.button-heavenly {
    background-color: #57baa7;
}

.grey-button {
    background-color: #708192;
}

.zerobutton {
    width: 186px;
    background-color: #323334;
}

.font-black-button {
    color: black;
}

/* TOGGLE SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    margin-top: 5px;
    margin-left: 3px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 23px;
    left: 0px;
    bottom: 0px;
    background-color: #323334;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #323334;
}

input:focus+.slider {
    box-shadow: 0 0 1px #323334;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders  */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.invisible-orange {

    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    height: 29px;
    width: 35px;
    margin-top: 4px;

}