body {
    background-color: slategrey;
    font-family: sans-serif;
}

.cont {
    margin-top: 5%
}

#container {
    width: 400px;
    background-color: rgb(111, 153, 160);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid rgb(0, 166, 255);
}

#display {
    height: 50px;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: right;
    color: white;
    background-color: rgb(163, 216, 204);
    border: none;

}

#display::placeholder {
    float: right;
    color: white;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

button {
    width: 59px;
    height: 45px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #a4a5a6;
    margin-bottom: 5px;
}


.button-orange {
    background-color: #fd9f0a;
}

.grey-button {}

.zerobutton {
    width: 185px;

}

.font-black-button {
    color: black;
}

p {
    color: white;
    float: right;
    margin-bottom: 0;
    font-size: 10px;
}